# Variable Assignment

In [1]:
x =5 #hey this is crazy

In [2]:
x #you can highlight then hit shift and forward slash to comment out lines

5

# Markdown 
## Markdown 2
### Markdown
*Italic*

**Bold**

* point 1 
* point 2
* point 3

1. point 1
2. point 2

## Integer

In [5]:
type(x)

int

## Float

In [6]:
y = 5.0
type(y)

float

## String

In [11]:
z = 'hey tess'
z = """"multiline qoute
hasattrh
jnvv"""
z

'"multiline qoute\nhasattrh\njnvv'

In [16]:
qoute = "\"I am the greatest to ever do it\""
print(qoute)

"I am the greatest to ever do it"

In [20]:
long_string = 'long_string_is_here'
print(long_string[:11])
print(long_string[11:])

long_string
_is_here

## Boolean

In [ ]:
boollean = True
other = False

# Non-Primitave Data

In [22]:
a_list = [1, 2, 3, 4, 5, 6, 'hey']
a_list

[1, 2, 3, 4, 5, 6, 'hey']

In [25]:
from re import A


print(a_list[4:7])
print(a_list[-1])

[5, 6, 'hey']
hey

### reversing a list

In [26]:
a_list[::-1]

['hey', 6, 5, 4, 3, 2, 1]

In [27]:
a_tuple = (1, 2, 3, 4, 5)
a_tuple

(1, 2, 3, 4, 5)

In [32]:
a_dictionary = {"key" : "value", "another":"value"}
a_dictionary
print(a_dictionary["key"])
a_dictionary.get('key')

value

'value'

# Operations

In [33]:
add = 2+2
add

4

In [35]:
add = 'str'+'str'
add

'strstr'

In [36]:
add_list = [1, 2, 3, 4, 5] + [6, 7, 8]
add_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
mult = 3*3
mult

9

In [38]:
mult_str = "str" * 3
mult_str

'strstrstr'

In [39]:
mult_list = [1, 2, 3] * 3
mult_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [40]:
div = 2/2
div

1.0

In [41]:
modulo = 10%3
modulo

1

In [42]:
floor_division = 7 // 2
floor_division

3

In [47]:
print("t" in "tnfjdskjhkdfhkjdfh")
print("z" not in ['d', 1, 2, 3, 5])

True
True

In [50]:
def function_name(x, y, z):
    return x + y + z
function_name(4, 4, 4)

12

In [5]:
import numpy as np
np.array([1, 2, 3])

array([1, 2, 3])

In [7]:
the_list = range(3, 100)

for i in the_list:
    i += 2
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [9]:
x = 0 
while x<5:
    x += 1
    print(x)

1
2
3
4
5

In [10]:
x = 3 
y = 5

if x == y:
    print('x equals y')
elif x > y:
    print('x is greater than y')
else:
    print('x is less than y')

x is less than y

In [11]:
try:
    2/0
except ZeroDivisionError:
    print("Can't Divide By 0")

Can't Divide By 0